// global
@import 'global/variables';

*, *::after, *::before
	box-sizing: border-box

html
	font-size: 0.625em

body
	font-family: 'Roboto', sans-serif
	margin: 0

// controls
@import 'controls/labels';
@import 'controls/input';
@import 'controls/buttons';
@import 'controls/popups';

// blocks
@import 'blocks/container';
@import 'blocks/overlay';
@import 'blocks/note';

// layouts
@import 'layouts/header';
@import 'layouts/application';