// global
@import 'global/variables';
@import 'global/animates';

*, *::after, *::before
	box-sizing: border-box

html
	font-size: 0.625em

body
	font-family: 'Roboto', sans-serif
	margin: 0

// forms
@import 'forms/forms';
@import 'forms/labels';
@import 'forms/input';
@import 'forms/buttons';

// modals
@import 'modals/brownout';
@import 'modals/container';
@import 'modals/overlay';
@import 'modals/popups';
@import 'modals/sliders';

// blocks
@import 'blocks/logo';
@import 'blocks/note';
@import 'blocks/section-header';
@import 'blocks/about-us';

// sections
@import 'sections/menu';
@import 'sections/header';
@import 'sections/application';
@import 'sections/advantages';
@import 'sections/produce';
@import 'sections/offer';
@import 'sections/production';
@import 'sections/buyers';
@import 'sections/feedback';