.btn
	vertical-align: middle
	width: 17.5rem
	height: 4.8rem
	font-size: 1.5rem
	text-decoration: none
	color: #fff
	background-color: $active-color
	border: 0
	border-radius: 0.5rem
	padding: 0

.btn-o
	width: 13rem
	color: $text-color-dark
	border: 0.1rem solid $text-color-dark
	background-color: transparent
	opacity: 0.5

.btn_big
	height: 5.6rem
	
.close
	font-size: 3.5rem
	font-weight: 300
	cursor: pointer