*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 0.625em;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  height: inherit;
  max-width: 96rem;
  margin: 0 auto;
}

@media screen and (max-width: 975px) {
  .container {
    padding: 0 1.5rem;
  }
}

@-webkit-keyframes myFadeInUp {
  0% {
    margin-bottom: -40rem;
    opacity: 0;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  100% {
    margin-bottom: 0;
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes myFadeInUp {
  0% {
    margin-bottom: -40rem;
    opacity: 0;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  100% {
    margin-bottom: 0;
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

.myFadeInUp {
  -webkit-animation-name: myFadeInUp;
          animation-name: myFadeInUp;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.brownout {
  position: relative;
  z-index: 0;
}

.brownout::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.overlay {
  position: fixed;
  top: 0;
  z-index: 100;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.label {
  display: block;
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
}

.input {
  vertical-align: middle;
  width: 36.5rem;
  height: 5.6rem;
  font-size: 1.4rem;
  font-weight: 300;
  padding: 2rem;
  border: 0;
  border-radius: 0.5rem;
}

@media screen and (max-width: 576px) {
  .input {
    height: 4.7rem;
  }
}

.input_big {
  width: 30rem;
}

.btn {
  vertical-align: middle;
  width: 17.5rem;
  height: 4.8rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  background-color: #ff9d00;
  border: 0;
  border-radius: 0.5rem;
  padding: 0;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .btn {
    height: 4.5rem;
  }
}

.btn-o {
  width: 13rem;
  color: #313131;
  border: 0.1rem solid #313131;
  background-color: transparent;
  opacity: 0.5;
}

.btn_big {
  height: 5.6rem;
}

@media screen and (max-width: 576px) {
  .btn_big {
    height: 5.1rem;
  }
}

.close {
  font-size: 3.5rem;
  font-weight: 300;
  cursor: pointer;
}

.note {
  display: block;
  font-size: 1.4rem;
  font-weight: 300;
  margin: 0;
}

.section-header {
  text-align: center;
}

.section-header__title {
  font-size: 2.7rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #313131;
  margin: 0;
}

@media screen and (max-width: 576px) {
  .section-header__title {
    font-size: 2.2rem;
  }
}

.section-header__title::after {
  content: '';
  display: block;
  height: 0.6rem;
  margin-top: 1.2rem;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 576px) {
  .section-header__title::after {
    display: none;
  }
}

.no-webp .section-header__title::after {
  background-image: url(../img/line.png);
}

.webp .section-header__title::after {
  background-image: url(../img/line.webp);
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0 0 3.7rem 0;
  list-style: none;
}

@media screen and (max-width: 640px) {
  .about-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    margin: 0;
  }
}

.about-us__item {
  text-align: center;
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
}

@media screen and (max-width: 640px) {
  .about-us__item {
    margin-bottom: 1.2rem;
  }
}

.about-us__numbers {
  min-height: 2.7rem;
  font-size: 3.6rem;
  font-weight: 900;
  color: #ff9d00;
  margin-bottom: 1.2rem;
}

@media screen and (max-width: 640px) {
  .about-us__numbers {
    font-size: 3rem;
    margin-bottom: 0;
  }
}

.about-us__numbers sup {
  font-size: 1.8rem;
}

@media screen and (max-width: 640px) {
  .about-us__numbers sup {
    font-size: 1.5rem;
  }
}

.about-us__numbers-sub {
  font-size: 1.6rem;
  line-height: 2rem;
  color: #313131;
  margin: 0;
}

@media screen and (max-width: 640px) {
  .about-us__numbers-sub {
    font-size: 1.3rem;
  }
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 75rem;
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.popup__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 7rem;
  background-color: #ff9d00;
}

@media screen and (max-width: 576px) {
  .popup__header {
    min-height: 5rem;
  }
}

.popup__title {
  margin: 0;
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: uppercase;
}

@media screen and (max-width: 576px) {
  .popup__title {
    font-size: 1.8rem;
  }
}

.popup__close {
  position: absolute;
  top: 0;
  right: 1rem;
}

.popup__text {
  background-color: #1b1b1b;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 9rem;
}

@media screen and (max-width: 576px) {
  .popup__text {
    padding: 3rem 5rem;
  }
}

.popup__proposal {
  font-size: 2.9rem;
  line-height: 2.7rem;
  margin: 0 0 2.3rem 0;
}

@media screen and (max-width: 576px) {
  .popup__proposal {
    font-size: 2.4rem;
  }
}

.popup__proposal-sub {
  font-size: 2.4rem;
}

@media screen and (max-width: 576px) {
  .popup__proposal-sub {
    font-size: 1.8rem;
  }
}

.popup__label {
  margin-bottom: 1.7rem;
}

.popup__input {
  max-width: 36.5rem;
  width: 100%;
  text-transform: uppercase;
  margin: 0 1.6rem 1rem 0;
}

.popup__btn {
  margin-bottom: 1rem;
}

.no-webp .popup__text {
  background-image: url(../img/popup/bg-popup.jpg);
}

.webp .popup__text {
  background-image: url(../img/popup/bg-popup.webp);
}

.slider-for {
  height: 37.7rem;
  margin-bottom: 1.3rem;
}

@media screen and (max-width: 640px) {
  .slider-for {
    margin: 0;
  }
}

.slider-nav {
  height: 7.8rem;
  padding: 0 2.5rem;
}

@media screen and (max-width: 640px) {
  .slider-nav {
    display: none;
  }
}

.slider-for,
.slider-nav {
  max-width: 53.5rem;
  width: 100%;
  background-color: #fff;
}

.slider-nav__img-wrapper {
  margin: 0 0.25rem;
}

.slider-for__text,
.slider-nav__text {
  font-size: 4.2rem;
  line-height: 1.5rem;
  font-weight: 400;
  -webkit-transform: rotateY(76deg);
          transform: rotateY(76deg);
}

.slider {
  max-width: 92.7rem;
  padding: 0 2.5rem;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .slider {
    padding: 0;
  }
}

.slider__item {
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  margin: 0 1.35rem;
}

.slick-slider {
  overflow: hidden;
}

.slick-list,
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
}

.slick-slide img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: 'object-fit: cover';
}

.prev,
.next {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  padding: 0;
  border: 0.1rem solid #ff9d00;
  cursor: pointer;
  z-index: 99;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.active-btn__prev,
.active-btn__next {
  width: 2.2rem;
  height: 7.8rem;
  color: #fff;
  background-color: #ff9d00;
}

.slider-nav__prev,
.slider-nav__next {
  width: 2.2rem;
  height: 7.8rem;
  color: #ff9d00;
}

.slider-nav__prev:hover,
.slider-nav__next:hover {
  color: #fff;
  background-color: #ff9d00;
}

.slider__prev,
.slider__next {
  height: 100%;
  width: 2rem;
  border: 0;
}

.logo {
  height: 6.1rem;
  width: 19.1rem;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 576px) {
  .logo {
    height: 3.5rem;
    width: 3.5rem;
    background-color: #ff9d00;
    border-radius: 0.4rem;
  }
}

.no-webp .logo {
  background-image: url(../img/logo.png);
}

@media screen and (max-width: 576px) {
  .no-webp .logo {
    background-image: url(../img/logo-mobile.png);
  }
}

.webp .logo {
  background-image: url(../img/logo.webp);
}

@media screen and (max-width: 576px) {
  .webp .logo {
    background-image: url(../img/logo-mobile.webp);
  }
}

.contacts-block {
  position: absolute;
  top: 7.3rem;
  left: 15%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-style: normal;
  background-color: #fff;
  padding: 3.3rem	4rem 3.9rem 6rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  z-index: 2;
}

@media screen and (max-width: 750px) {
  .contacts-block {
    padding: 2rem 3rem;
  }
}

@media screen and (max-width: 640px) {
  .contacts-block {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    padding: 0 0 2.8rem;
    border: 0;
  }
}

.contacts-block__item {
  position: relative;
}

.contacts-block__item::before {
  content: '';
  position: absolute;
  top: 0.4rem;
  left: -3rem;
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

@media screen and (max-width: 750px) {
  .contacts-block__item::before {
    display: none;
  }
}

.contacts-block__address {
  margin-bottom: 2.8rem;
}

.contacts-block__address::before {
  background-image: url(../img/contacts/map-marker.svg);
}

.contacts-block__phone {
  margin-bottom: 2.2rem;
}

.contacts-block__phone::before {
  background-image: url(../img/contacts/smartphone.svg);
}

.contacts-block__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.5rem;
  color: #313131;
}

.contacts-block__title {
  font-size: 1.8rem;
  font-weight: 700;
}

.contacts-block__link {
  text-decoration: none;
  color: #313131;
}

.contacts-block__link_margin {
  margin-bottom: 1rem;
}

.contacts-block__mail::before {
  width: 2rem;
  background-image: url(../img/contacts/envelope.svg);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #373737;
  z-index: 100;
}

@media screen and (max-width: 640px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 975px) {
  .menu__text {
    height: 3.2rem;
  }
}

.menu__text span {
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.45rem;
  border-right: 0.1rem dotted rgba(255, 255, 255, 0.2);
  border-left: 0.1rem dotted rgba(255, 255, 255, 0.2);
}

.menu__first-text span {
  padding-left: 0;
  border-left: 0;
}

@media screen and (max-width: 975px) {
  .menu__first-text span {
    padding-left: 1.45rem;
    border-left: 0.1rem dotted rgba(255, 255, 255, 0.2);
  }
}

.menu__last-text span {
  padding-right: 0;
  border-right: 0;
}

@media screen and (max-width: 975px) {
  .menu__last-text span {
    padding-right: 1.45rem;
    border-right: 0.1rem dotted rgba(255, 255, 255, 0.2);
  }
}

.header {
  margin-top: 4.4rem;
}

@media screen and (max-width: 975px) {
  .header {
    margin-top: 6.4rem;
  }
}

@media screen and (max-width: 640px) {
  .header {
    margin-top: 0;
  }
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 9rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 576px) {
  .header__content {
    height: 5.6rem;
  }
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
}

.header__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  margin-right: 2.7rem;
}

@media screen and (max-width: 845px) {
  .header__address {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    margin-right: 1.5rem;
  }
}

.header__number {
  font-size: 2.2rem;
  text-transform: uppercase;
  color: #313131;
}

@media screen and (max-width: 640px) {
  .header__number {
    font-size: 1.4rem;
  }
}

.header__number:first-child {
  padding-right: 1.3rem;
  border-right: 0.1rem solid #cfcfd0;
  margin-right: 1.3rem;
}

@media screen and (max-width: 845px) {
  .header__number:first-child {
    padding: 0;
    border: 0;
    margin: 0;
  }
}

@media screen and (max-width: 640px) {
  .header__number span {
    font-weight: 900;
  }
}

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 576px) {
  .header__btn {
    height: 2.7rem;
    width: 2.7rem;
  }
}

@media screen and (max-width: 576px) {
  .header__btn span {
    display: none;
  }
}

.header__btn::before {
  height: 2rem;
  width: 2rem;
  margin-right: 0.7rem;
}

@media screen and (max-width: 576px) {
  .header__btn::before {
    margin-right: 0;
  }
}

.no-webp .header__btn::before {
  content: url(../img/header/telephone.png);
}

.webp .header__btn::before {
  content: url(../img/header/telephone.webp);
}

.no-webp .application {
  background-image: url("../img/application/bg-application.jpg");
}

.webp .application {
  background-image: url("../img/application/bg-application.webp");
}

.application {
  color: #fff;
  padding: 7.1rem 0 7.8rem 0;
  background-color: #1b1b1b;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 576px) {
  .application {
    padding: 5rem 0 5.8rem 0;
  }
}

.application__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.application__img {
  width: 100%;
  height: auto;
  max-width: 48rem;
}

.application__img-wrap {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 845px) {
  .application__img-wrap {
    display: none;
  }
}

.application__img-wrap::before {
  content: '';
  position: absolute;
  left: 50%;
  z-index: -1;
  height: 39rem;
  width: 39rem;
  border: 0.1rem solid #ccc;
  border-radius: 50%;
  margin-left: -19.5rem;
}

@media screen and (max-width: 975px) {
  .application__img-wrap::before {
    left: 70%;
    height: 30rem;
    width: 30rem;
  }
}

.application__text {
  width: 54rem;
  min-width: 54rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 2 auto;
          flex: 1 2 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 3rem;
}

@media screen and (max-width: 845px) {
  .application__text {
    margin-left: 0;
  }
}

@media screen and (max-width: 576px) {
  .application__text {
    text-align: center;
    width: 100%;
    min-width: 0.1rem;
    margin: 0;
  }
}

.application__title {
  font-size: 4.1rem;
  font-weight: 700;
  line-height: 4.2rem;
  margin: 0 0 1rem 0;
}

@media screen and (max-width: 576px) {
  .application__title {
    font-size: 2.2rem;
    line-height: 2.4rem;
    color: #ff9d00;
  }
}

.application__subtitle {
  font-size: 2.8rem;
  margin: 0 0 2.4rem 0;
}

@media screen and (max-width: 576px) {
  .application__subtitle {
    font-size: 1.8rem;
  }
}

.application__form-wrapper {
  max-width: 54.5rem;
  padding: 3rem 2.7rem;
  background-color: rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 640px) {
  .application__form-wrapper {
    padding: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .application__form-wrapper {
    padding: 0;
    background-color: transparent;
  }
}

.application__proposal {
  max-width: 42.1rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 3rem;
  margin: 0 0 2rem 0;
}

@media screen and (max-width: 576px) {
  .application__proposal {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.8rem;
    margin: 0 auto 1.5rem;
  }
}

.application__proposal-sub {
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (max-width: 576px) {
  .application__proposal-sub {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 1.5rem;
  }
}

.application__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 576px) {
  .application__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.application__input {
  margin-right: 1rem;
}

@media screen and (max-width: 576px) {
  .application__input {
    text-align: center;
    margin: 0 0 1.3rem 0;
  }
}

.application__note {
  margin: 1.2rem 0 0 2rem;
}

@media screen and (max-width: 576px) {
  .application__note {
    margin-left: 0;
  }
}

.advantages {
  background-color: #f4f4f4;
  padding: 4.9rem 0 2.5rem 0;
}

@media screen and (max-width: 640px) {
  .advantages {
    padding: 2.4rem	0 1rem;
  }
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 29.4rem;
  min-height: 13.2rem;
  line-height: 1.9rem;
  color: #313131;
  background-color: #fff;
  padding: 2.8rem 1.9rem 2.8rem 0;
  margin-bottom: 3rem;
}

@media screen and (max-width: 640px) {
  .advantages__item {
    margin-bottom: 0.8rem;
  }
}

.advantages__text {
  max-width: 20.2rem;
  margin-left: 1.1rem;
}

.advantages__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.advantages__desc {
  font-size: 1.4rem;
  font-weight: 300;
  margin: 0;
}

.advantages__item::before {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.no-webp .advantages__item::before {
  content: url("../img/advantages/production.png");
}

.webp .advantages__item::before {
  content: url("../img/advantages/production.webp");
}

.no-webp .advantages__item_samples::before {
  content: url("../img/advantages/samples.png");
}

.webp .advantages__item_samples::before {
  content: url("../img/advantages/samples.webp");
}

.no-webp .advantages__item_quality::before {
  content: url("../img/advantages/quality.png");
}

.webp .advantages__item_quality::before {
  content: url("../img/advantages/quality.webp");
}

.no-webp .advantages__item_stockpile::before {
  content: url("../img/advantages/stockpile.png");
}

.webp .advantages__item_stockpile::before {
  content: url("../img/advantages/stockpile.webp");
}

.no-webp .advantages__item_print::before {
  content: url("../img/advantages/print.png");
}

.webp .advantages__item_print::before {
  content: url("../img/advantages/print.webp");
}

.no-webp .advantages__item_saupplement::before {
  content: url("../img/advantages/saupplement.png");
}

.webp .advantages__item_saupplement::before {
  content: url("../img/advantages/saupplement.webp");
}

.produce {
  padding: 5.7rem 0 3.8rem 0;
}

@media screen and (max-width: 576px) {
  .produce {
    padding-top: 3.2rem;
    width: 100%;
  }
}

.produce__header {
  margin-bottom: 2.1rem;
}

.produce__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (max-width: 576px) {
  .produce__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.produce__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.5rem;
}

.produce__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 27rem;
  width: 35rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 576px) {
  .produce__img {
    width: 25rem;
    margin-bottom: 1rem;
  }
}

.produce__img img {
  width: 100%;
  height: auto;
}

.produce__title {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: #313131;
  margin-bottom: 2.8rem;
}

@media screen and (max-width: 576px) {
  .produce__title {
    font-size: 1.8rem;
    margin-bottom: 1.7rem;
  }
}

.produce__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 576px) {
  .produce__btn-o_margin {
    width: 16rem;
  }
}

@media screen and (max-width: 576px) {
  .produce__btn-o {
    width: 11.9rem;
  }
}

.produce__btn-o_margin {
  margin-right: 1.1rem;
}

.no-webp .offer {
  background-image: url("../img/offer/bg-offer.jpg");
}

.webp .offer {
  background-image: url("../img/offer/bg-offer.webp");
}

.offer {
  text-align: center;
  color: #fff;
  background-position: center;
  background-size: cover;
  padding: 5.7rem 0 6.9rem 0;
}

@media screen and (max-width: 576px) {
  .offer {
    padding: 5rem 0;
  }
}

.offer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer__proposal {
  max-width: 57.3rem;
  font-size: 2.9rem;
  line-height: 3.6rem;
  margin: 0 0 2.3rem 0;
}

@media screen and (max-width: 576px) {
  .offer__proposal {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.4rem;
  }
}

.offer__proposal-sub {
  display: block;
  font-size: 2.4rem;
}

@media screen and (max-width: 576px) {
  .offer__proposal-sub {
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 0.6rem;
  }
}

.offer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.offer__label {
  margin-bottom: 1.4rem;
}

@media screen and (max-width: 576px) {
  .offer__label {
    font-size: 1.4rem;
  }
}

.offer__input {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

@media screen and (max-width: 576px) {
  .offer__input {
    width: 29rem;
  }
}

.production {
  padding: 8.7rem 0 4.8rem 0;
}

@media screen and (max-width: 640px) {
  .production {
    padding: 2.8rem 0;
  }
}

.production__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 640px) {
  .production__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

.production__slider {
  width: 57.21925133689839572192513368984%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 2.5rem;
}

@media screen and (max-width: 640px) {
  .production__slider {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    padding: 0;
  }
}

.production__content {
  width: 42.78074866310160427807486631016%;
}

@media screen and (max-width: 640px) {
  .production__content {
    width: 100%;
  }
}

.production__title {
  font-size: 2.8rem;
  font-weight: 300;
  color: #fff;
  background-color: #ff9d00;
  padding: 1.5rem 0 1.6rem 50%;
  margin: 1.9rem 0 2.8rem -50%;
}

@media screen and (max-width: 640px) {
  .production__title {
    text-align: center;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1.9rem 0 1.6rem;
    margin: 0 -1.5rem 1.7rem;
  }
}

.production__text {
  text-align: justify;
  color: #313131;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.4rem;
  margin: 0 0 1rem 0;
}

.buyers {
  padding: 4.7rem 0 2.8rem 0;
}

@media screen and (max-width: 576px) {
  .buyers {
    padding: 2.8rem	0 2.1rem;
  }
}

.buyers__header {
  margin-bottom: 3.3rem;
}

.buyers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  margin: 0;
}

.buyers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 21.2rem;
  height: 13rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  margin-bottom: 3.3rem;
}

@media screen and (max-width: 576px) {
  .buyers__item {
    margin-bottom: 0.7rem;
  }
}

.feedback {
  background-color: #f4f4f4;
  padding: 5.5rem	0	7.1rem 0;
}

@media screen and (max-width: 576px) {
  .feedback {
    padding: 3.6rem 0 4rem;
  }
}

.feedback__header {
  margin-bottom: 3rem;
}

.contacts {
  position: relative;
}

@media screen and (max-width: 800px) {
  .contacts {
    font-size: 5px;
  }
}

@media screen and (max-width: 640px) {
  .contacts {
    padding: 3.4rem 1.5rem 1.5rem;
  }
}

.contacts__header {
  display: none;
}

@media screen and (max-width: 640px) {
  .contacts__header {
    display: block;
    margin-bottom: 2rem;
  }
}

.contacts__map {
  height: 55rem;
}

@media screen and (max-width: 640px) {
  .contacts__map {
    height: 42rem;
  }
}
/*# sourceMappingURL=style.css.map */