.slider-for
	height: 37.7rem
	margin-bottom: 1.3rem

	@media screen and (max-width: 640px)
		margin: 0

.slider-nav
	height: 7.8rem
	padding: 0 2.5rem

	@media screen and (max-width: 640px)
		display: none

.slider-for,
.slider-nav
	max-width: 53.5rem
	width: 100%
	background-color: #fff

.slider-nav__img-wrapper
	margin: 0 0.25rem

.slider-for__text,
.slider-nav__text
	font-size: 4.2rem
	line-height: 1.5rem
	font-weight: 400
	transform: rotateY(76deg)

.slider
	max-width: 92.7rem
	padding: 0 2.5rem
	margin: 0 auto

	@media screen and (max-width: 576px)
		padding: 0

.slider__item
	border: 0.1rem solid rgba(0, 0, 0, 0.1)
	margin: 0 1.35rem

// SLICK-SLIDER
.slick-slider
	overflow: hidden

.slick-list,
.slick-track
	display: flex
	height: inherit

.slick-slide img
	height: 100%
	width: 100%
	object-fit: cover
	font-family: 'object-fit: cover'

// BUTTON
.prev,
.next
	position: absolute
	top: 50%
	transform: translate(0,-50%)
	display: flex
	justify-content: center
	align-items: center
	background-color: transparent
	padding: 0
	border: 0.1rem solid $active-color
	cursor: pointer
	z-index: 99

.prev
	left: 0

.next
	right: 0

.active-btn__prev,
.active-btn__next
	width: 2.2rem
	height: 7.8rem
	color: $text-color-light
	background-color: $active-color

.slider-nav__prev,
.slider-nav__next
	width: 2.2rem
	height: 7.8rem
	color: $active-color

.slider-nav__prev:hover,
.slider-nav__next:hover
	color: $text-color-light
	background-color: $active-color

.slider__prev,
.slider__next
	height: 100%
	width: 2rem
	border: 0