.slider-for
	height: 37.7rem
	margin-bottom: 1.3rem

	@media screen and (max-width: 640px)
		margin: 0

.slider-nav
	height: 7.8rem
	padding: 0 2.5rem

	@media screen and (max-width: 640px)
		display: none

.slider-for,
.slider-nav
	max-width: 53.5rem
	width: 100%
	background-color: #fff
	overflow: hidden

.slider-for__img,
.slider-nav__img
	height: inherit
	width: inherit
	object-fit: cover
	font-family: 'object-fit: cover'

.slider-nav__img-wrapper
	margin: 0 0.25rem

.slider-for__text,
.slider-nav__text
	font-size: 4.2rem
	line-height: 1.5rem
	font-weight: 400
	transform: rotateY(76deg)

.slider
	max-width: 92.7rem
	padding: 0 2.5rem
	margin: 0 auto
	overflow: hidden

	// @media screen and (max-width: 768px)
	// 	padding: 0

// .slider__item
// // 	width: auto
// // 	height: 100%
// 	border: 0.1rem solid rgba(0, 0, 0, 0.1)
// 	padding: 1rem 0
// 	margin: 0 1.35rem
// 	background-color: red

// .slider .slick-track
// 	display: flex
// 	// align-items: stretch

// .slick-slide
// 	align-self: stretch

// .slider .slick-slide img
// 	// align-self: stretch
// 	// height: 376px
// 	// width: 100%
// 	object-fit: contain

// SLICK-SLIDER
.slick-list,
.slick-track
	height: inherit

// BUTTON
.prev,
.next
	position: absolute
	top: 50%
	transform: translate(0,-50%)
	display: flex
	justify-content: center
	align-items: center
	background-color: transparent
	padding: 0
	border: 0.1rem solid $active-color
	cursor: pointer
	z-index: 30

.prev
	left: 0

.next
	right: 0

.slider-for__prev,
.slider-for__next
	width: 2.2rem
	height: 7.8rem
	color: $text-color-light
	background-color: $active-color

.slider-nav__prev,
.slider-nav__next
	width: 2.2rem
	height: 7.8rem
	color: $active-color

.slider-nav__prev:hover,
.slider-nav__next:hover
	color: $text-color-light
	background-color: $active-color

.slider__prev,
.slider__next
	height: 100%
	width: 2rem
	border: 0