.produce
	padding: 5.7rem 0 3.8rem 0

	@media screen and (max-width: 576px)
		padding-top: 3.2rem
		width: 100%

	&__header
		margin-bottom: 2.1rem

	&__list
		display: flex
		flex-flow: row wrap
		justify-content: space-around
		padding: 0
		margin: 0
		list-style: none

		@media screen and (max-width: 576px)
			justify-content: center

	&__item
		display: flex
		flex-flow: column nowrap
		align-items: center
		margin-bottom: 3.5rem

	&__img
		display: flex
		justify-content: center
		align-items: center
		height: 27rem
		width: 35rem
		margin-bottom: 2rem

		@media screen and (max-width: 576px)
			width: 25rem
			margin-bottom: 1rem
		
		img
			width: 100%
			height: auto

	&__title
		text-align: center
		font-size: 2rem
		font-weight: 500
		color: $text-color-dark
		margin-bottom: 2.8rem

		@media screen and (max-width: 576px)
			font-size: 1.8rem
			margin-bottom: 1.7rem

	&__form
		display: flex

	&__btn-o_margin
		@media screen and (max-width: 576px)
			width: 16rem

	&__btn-o
		@media screen and (max-width: 576px)
			width: 11.9rem

	&__btn-o_margin
		margin-right: 1.1rem